tensorflow
tf-keras
ai-edge-litert
tflite-runtime
opencv-python-headless
numpy
deepface
mtcnn
scikit-image
SpeechRecognition
pyaudio
sounddevice
librosa
pyttsx3
edge-tts
pygame
gtts
vosk
gdown
Pillow
arabic-reshaper
python-bidi
